<div id="overwriteFilter">

    <p>Are you sure you want to overwrite this filter?</p>
</div>


<br />
<button type="button" id="OverWriteYes">Yes</button>
<button type="button" id="OverWriteCancel">No</button>
